body {
  background-color: rgb(96, 49, 105);
  margin: 0;
  height: 100vh;
}

header {
  font-weight: 700;
  font-size: min(8vw, 8vh);
  color: rgb(82, 170, 170);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 7%;
  padding: 3%;
}

.board {
  min-width: 10%;
  min-height: 5%;
  max-width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.317);
}

.boardBtn {
  min-width: 15%;
  min-height: 10%;
  font-size: min(4vw, 4vh);
}

.mainInput {
  max-width: 150px;
}

.generateBtn {
  min-width: 10%;
  min-height: 5%;
}

p {
  top: 85%;
  left: 15%;
  position: fixed;
  font-size: min(4vw, 4vh);
  font-weight: 700;
  color: rgb(82, 170, 170);
  text-align: center;
}
